<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Semana07.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=sql5047.site4now.net;User ID=DB_A5A761_diegomr_admin;Password=123456789aA."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>